body {
  background: #eafbea;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.home-wrapper {
  justify-content: center;
}

.login-name {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.signup-name {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  height: 20px;
}

.store-name {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.store-mini {
  position: absolute;
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  padding: 8px;
  left: 2px;
}

.marketplace-name {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  margin-top: 50px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 8px;
  padding: 8px;
}

.link-login {
  display: flex;
  justify-content: center;
}

.link-store {
  text-decoration: none;
  color: black;
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  padding: 8px;
}

.navbar-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #f09595;
  height: 50px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  height: 20px;
}

input[type="text"] {
  border-radius: 5px;
  border: 1px #f1fa3c;
  height: 20px;
  margin: 5px;
  padding: 2px;
}

input[type="file"] {
  border-radius: 5px;
  border: none;
  height: 20px;
  margin: 5px;
}

input[type="password"] {
  border-radius: 5px;
  border: none;
  height: 20px;
  margin: 5px;
  padding: 2px;
}

.marketplace {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 50px;
}

.market-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.market-link {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;
  align-items: center;
}

.itemsInCart {
  display: grid;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: black;
}

.feature {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background: #fcf5b0;
  margin-top: 10px;
  margin-left: 175px;
  margin-right: 175px;
  border-radius: 10px;
}

.feature-title {
  display: flex;
  justify-content: center;
  font-family: "Damion", cursive;
  font-size: 40px;
  margin-top: 70px;
  border-bottom: 1px solid;
  margin-left: 250px;
  margin-right: 250px;
}

.feature-item {
  justify-content: space-between;
  font-size: 20px;
  margin: 25px;
  background: #fcf5b0;
}

.feature-name {
  font-family: "Fredoka One", cursive;
}

.feature-price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.topbar-search {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
  padding: 30px;
}

.container {
  margin: 36px auto;
  width: 100%;
  max-width: 800px;
}

.heading {
  font-size: 30px;
  padding: 20px;
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.search-label {
  position: relative;
}

.container input {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  font-style: italic;
  color: #444;
  outline: none;
  height: 25px;
  font-family: "Roboto", sans-serif;
  border: 1px #f1fa3c;
  border-radius: 10px;
}

.market-sub {
  display: flex;
  font-family: "Damion", cursive;
  font-size: 30px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-link {
  text-decoration: none;
  color: black;
  cursor: default;
}

.stripe-el span {
  display: flex !important;
  justify-content: space-between !important;
  background: pink !important;
  border-radius: none !important;
  text-align: center !important;
  font-family: "Roboto", sans-serif !important;
}

.stripe-div {
  display: flex;
  position: absolute;
  top: 100px;
}

.buttonSearch {
  background: #36b5b0;
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;
  margin-left: 5px;
}

.buttonDelete {
  background: #f09595;
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;
  margin-left: 5px;
}

.button-buy {
  background: #fa697c;
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;
  margin-left: -10px;
  margin-right: -10px;
  text-decoration: none;
}

.button-add {
  background: #e13a9d;
  border-radius: 30px;
  color: white;
  padding: 15px;
  border: none;
  margin-right: 5px;
}

.search {
  display: flex;
  margin-right: 5px;
}

input[type="submit"] {
  border-radius: 5px;
  border: none;
  background-color: #42dee1;
  margin-left: 5px;
  padding: 6px;
  width: 60px;
}

.search-bar {
  display: flex;
  margin: 10px;
}

.search-input {
  align-items: center;
  height: 30px;
}

.item-details {
  margin-left: 50px;
}

.item-name {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.seller-header {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.seller-details {
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.other-items {
  margin-bottom: 50px;
}

.seller-items {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.feature-profile {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
  margin-left: 50px;
}

.feature-me {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 50px;
}

.feature-upload {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 50px;
}

.upload {
  display: flex;
}

.submit {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 50px;
}

.forms {
  margin-left: 50px;
}

.space {
  margin-top: 10px;
}

.test {
  margin-right: 10px;
  padding: 5px;
  width: 200px;
}

.cart {
  font-family: "Fredoka One", cursive;
  font-size: 15px;
  margin-left: 30px;
}

.empty {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 30px;
}

.review-item {
  font-family: "Roboto", sans-serif, bold;
  border-top: 1px solid;
  margin-right: 700px;
  margin-top: 20px;
}

.review-input {
  width: 300px;
  height: 600px;
  margin-left: -5px;
}

.remove-item {
  border-radius: 5px;
  border: none;
  background-color: #42dee1;
  padding: 6px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
