body {
  background-color: #ecfcff;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.store-name {
  font-size: 50px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
}

.store-mini {
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  margin: 8px;
  padding: 8px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 8px;
  padding: 8px;
}

.navbar-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted;
  background-color: #fcf9ea;
}

.navbar-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px dotted;
  background-color: #fcf9ea;
}

.form {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 8px;
}

input[type="text"] {
  border-radius: 5px;
  border: none;
}

input[type="file"] {
  border-radius: 5px;
  border: none;
}

.marketplace {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 50px;
}
