body {
  background-color: #ecfcff;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}

.store-name {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
}

.store-mini {
  font-family: "Fredoka One", cursive;
  font-size: 23px;
  margin: 8px;
  padding: 8px;
}

.link {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin: 8px;
  padding: 8px;
}

.navbar-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdd8d8;
  border-radius: 10px;
}

.navbar-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fdd8d8;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.form {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 8px;
}

input[type="text"] {
  border-radius: 5px;
  border: none;
}

input[type="file"] {
  border-radius: 5px;
  border: none;
}

.marketplace {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 50px;
}

.market-wrapper {
  display: flex;
  justify-content: center;
}

.market-link {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-around;
  align-items: center;
}

.itemsInCart {
  display: grid;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  color: black;
}

.feature {
  display: flex;
  justify-content: center;
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  margin: 50px;
  background: #fff8cd;
  border-radius: 10px;
}
